@model ExpressQuiz.ViewModels.QuizReviewViewModel


@section styles
{
    @Styles.Render("~/Scripts/upvote/jquery.upvote.css")
    @Styles.Render("//cdn.datatables.net/1.10.2/css/jquery.dataTables.css");
}
@section scripts{

    @Scripts.Render("//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js");
    @Scripts.Render("~/bundles/expressquiz")
    @Scripts.Render("~/Scripts/upvote/jquery.upvote.js")
}





<br />
<div class="text-center">
    <button onclick="rate();" class="btn btn-primary center-block">Exit</button>
</div>
<div>


    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.ScorePercent%;">
                    @Model.ScoreText
                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EllapsedTime)
        </dt>
        <dd>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @Model.EllapsedTimePercent%;">
                    @Model.EllapsedTime seconds
                </div>
            </div>
        </dd>
    </dl>

    <div class="row">
        @if (Model.RelativeScore != -1)
        {
            <div class="col-lg-6 text-center">

                <div class="well">
                    You scored higher than <h1>@Model.RelativeScore%</h1> of all users
                </div>


            </div>
        }
        @if (Model.RelativeTime != -1)
        {
            <div class="col-lg-6 text-center">

                <div class="well">
                    You were faster than <h1>@Model.RelativeTime%</h1> of all users
                </div>

            </div>
        }


    </div>

    <table  id="questions">
        <thead>
            <tr>
                <th>#</th>
                <th>Question</th>
                <th>Correctly answered</th>
                <th>Points earned</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @{
                int count = 0;
                foreach (var q in Model.Items)
                {
                    count++;
                    <tr>
                        <td>@count.ToString()</td>

                        <td>@( q.QuestionText.Length > 50 ? q.QuestionText.Substring(0, 47) + "..." : q.QuestionText)</td>
                        <td>@q.IsCorrectAnswer</td>
                        <td>@q.PointsEarned</td>
                        <td>
                            @Html.ActionLink("Review", "Question", new
                            {
                                questionId = q.QuestionId,
                                resultId = Model.ResultId,
                                userAnswerId = Model.UserAnswers.First(x => x.QuestionId == q.QuestionId).AnswerId
                            })
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>

</div>

<div id="rateQuiz" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i>Your opinion counts</i></h4>
            </div>

            @using (Html.BeginForm())
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div class="form-group row">
                        <h3 class="col-md-4">did you like it?</h3>
                        <div id="vote" class="upvote upvote-superuser col-md-2">
                            <a class="upvote"></a>
                            <a class="downvote"></a>
                        </div>
                    </div>

                    @*<div class="form-group row">
                        <h3 class="col-md-4">Was it hard?</h3>
                        <div id="voteLevel" class="upvote upvote-superuser col-md-2">
                            <a class="upvote"></a>
                            <a class="downvote"></a>
                        </div>
                    </div>*@

                </div>

                <div class="modal-footer">
                   
                    @Html.ActionLink("Thanks!", "Index", "Quizzes", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            }


        </div>
    </div>
</div>

<script>

    $(function() {

       
     
       

        $('#questions').dataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false
        });


    });

    function rate() {

        function voteCallback(data) {

            var vote = 0;
            if (data.upvoted) {
                vote = 1;
            } else if (data.downvoted) {
                vote = -1;
            }

            $("#vote").css("pointer-events", "none");
            $.ajax({
                url: '/Rating/RateQuiz/',
                type: "POST",
                cache: false,
                data: JSON.stringify({ "id": data.id, "vote": vote }),
                headers: ExpressQuiz.AjaxHelper.createRequestionVerificationTokenHeader(),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                complete: setTimeout(function () { $("#vote").css("pointer-events", ""); }, 1000)


            });
        };

        $('#vote').upvote({ id: '@Model.QuizId', callback: voteCallback });
        $('#voteLevel').upvote({ id: '@Model.QuizId', callback: voteCallback });
        $("#rateQuiz").modal("show");
    }

</script>