@model ExpressQuiz.ViewModels.QuestionReviewViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/Scripts/expressquiz/main.js"></script>

<div>
    <br />
    @Html.ActionLink("Back", "Index", new { id = @Model.QuizResultId }, new { @class = "btn btn-primary " })

</div>
<div>


    <div id="page-selection"></div>
    <div id="content">

        <h4>Question</h4>
        <p style="white-space: pre">
            @Model.Question.Text
        </p>

        <h4>Answers</h4>
        <p>
            <div id="answers" class="col-lg-10">
                @{
                    foreach (var a in Model.Question.Answers)
                    {

                        <div class="radio">
                            <label>
                                @{


                                    <input type="radio"
                                           @(a.IsCorrect ? "checked" : "")
                                           name="optionsRadios" disabled />





                        if (Model.UserAnswerId == a.Id)
                        {
                            if (a.IsCorrect)
                            {
                                <div style="background: lightgreen">@a.Text</div>
                            }
                            else
                            {
                                <div style="background: lightcoral">@a.Text</div>
                            }
                        }
                        else
                        {
                            <div>@a.Text</div>
                        }
}
                            </label>
                        </div>
                        <div style="color: green">
                            @a.Explanation
                        </div>
                    }
                }
            </div>
        </p>

    </div>

    <br />



</div>

<br />

