@model ExpressQuiz.ViewModels.ActiveQuizViewModel



@section styles
{
    @Styles.Render("~/Content/font-awesome-4.2.0/css/font-awesome.min.css")
    @Styles.Render("~/Scripts/pagedown/css/jquery.pagedown-bootstrap.css")
    @Styles.Render("~/Scripts/upvote/jquery.upvote.css")

}

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.bootpag.min.js")
    @Scripts.Render("~/bundles/expressquiz")
    @Scripts.Render("~/Scripts/pagedown/js/jquery.pagedown-bootstrap.combined.min.js")
    @Scripts.Render("~/Scripts/upvote/jquery.upvote.js")
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "__AjaxAntiForgeryForm"}))
{
    @Html.AntiForgeryToken()
}

<div>
    <br />

    <div class="text-center">

      
        <button id="done"  class="btn btn-lg btn-primary has-spinner">
            <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
            Finish
        </button>
        <br/>
        <br />
        <div class="progress">
            <div id="pTimeLeft" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%;"></div>
        </div>

    </div>
    <br />
    <div class="progress">
        <div id="prgCompleted" class="progress-bar"></div>
    </div>

    <div id="page-selection"></div>
    
    <div id="content">
        <div class="row text-center">
            <h4>Question</h4>
        </div>
        <div class="row">
            <div id="voteContainer" class="col-sm-1"></div>
            <div class="col-sm-11" id="question"></div>
        </div>
        <h4 class="text-center">Answers</h4>
        <p>
            <div id="answers" class="col-lg-10"></div>
        </p>
    </div>

    <br />

    <script>

        $(function() {

            var activeQuiz = new ExpressQuiz.ActiveQuiz({
                $counter: $("#pTimeLeft"),
                totalTime: '@Model.EstimatedTime',
                quizId: "@Model.QuizId",
                $pager: $('#page-selection'),
                $questions: $("#question"),
                $progressBar: $("#prgCompleted"),
                $done: $("#done"),
                $answers: $("#answers"),
                $voting: $("#voteContainer")
            });
        
        });


    </script>

</div>


