@model ExpressQuiz.ViewModels.QuizDetailsViewModel

@{
    <h2>
        @Model.Quiz.Name  (@Model.Quiz.Questions.Count questions)</h2>
    }
    <div>
      
        <hr />
        
        
        @if (!Model.Quiz.Locked || Model.Quiz.CreatedBy == User.Identity.Name)
        {
            <div>@Html.ActionLink("Edit", "Edit", new { id = Model.Quiz.Id }, new { @class="btn btn-default btn-xs col-md-offset-10 col-md-1"})</div>


            <div> @Html.ActionLink("Delete", "Delete", new { id = Model.Quiz.Id }, new { @class = "btn btn-warning btn-xs col-md-1" })</div>
        }
        
        

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quiz.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quiz.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quiz.Summary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quiz.Summary)
            </dd>

            <dt>
                Questions
            </dt>
            <dd>
               
                @Model.Quiz.Questions.Count
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.AvgLevel)
            </dt>
            <dd>
               @Html.DisplayFor(model => model.AvgLevel)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.AvgRating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvgRating)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.AvgScore)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvgScore)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.AvgTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvgTime)
            </dd>

        </dl>
        <div class=" text-center">@Html.ActionLink("Start quiz", "Index", "ActiveQuiz", new { id = Model.Quiz.Id }, new { @class = "btn btn-success" })</div>
    </div>
<div>
  
    
   
    @Html.Action("Index", "Users",new { quizId = @Model.Quiz.Id})
</div>
