@model ExpressQuiz.ViewModels.EditQuizViewModel

@section Scripts {
   
    @Scripts.Render("~/bundles/jqueryval")
  
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/tablednd/jquery.tablednd.js")
    @Styles.Render("~/Scripts/tablednd/css/tablednd.css")

    @Scripts.Render("~/Scripts/slider/bootstrap-slider.min.js")
    @Styles.Render("~/Scripts/slider/css/bootstrap-slider.min.css")


}

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Scripts/pagedown/css/jquery.pagedown-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/pagedown/js/jquery.pagedown-bootstrap.combined.min.js"></script>

<h2>Edit</h2> 








<hr/>
<div id="content">
    @{
        Html.RenderPartial("_EditQuizPartial", Model);
    }
</div>






<script>
    $(function() {
       

        
    });
    function showSavedAlert() {
        $('.body-content').prepend('<div class="alert alert-success affix col-md-4">' +
          ' <button type="button" class="close" data-dismiss="alert"></button>Saved' +
          '</div>');

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0.2).slideUp(100, function () {
                $(this).remove();
            });
        }, 500);
    }

    function applyValidation() {
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    }

    function handleError(ajaxContext) {


        $("#content").empty();
        $("#content").append(ajaxContext.responseText);
        // alert(statusCode);
    }
</script>