@model ExpressQuiz.ViewModels.QuizzesViewModel

<div style="min-width: 1000px">

    <br />

    <div id="leftSideBar" style="float:left;width:200px; margin:5px">
        @Html.Partial("_QuizCategoriesPartial", Model.QuizCategories)
    </div>
    <div id="content" style="float:left;width:500px;margin:5px">
        <table>
            <tr>
                @using (Html.BeginForm("Index", "Quizzes", FormMethod.Get))
                {
                    <td>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-info" />
                    </td>
                }
            </tr>
        </table>
        @Html.ActionLink("Create New", "Create")

        <div class="list-group">

            @foreach (var item in Model.Quizzes)
            {
                <a href="/Quizzes/Details/@item.Id" class="list-group-item">
                    <h4 class="list-group-item-heading">@item.Name</h4>
                    <p class="list-group-item-text">@item.Summary</p>


                </a>
            }


        </div>

    </div>
    <div id="rightSideBar" style="float:left;width:200px;height:200px;margin:5px">
        @Html.Partial("_TopListPartial", Model.TopQuizzes)
    </div>
</div>
