@model ExpressQuiz.ViewModels.QuizzesViewModel



<div style="width: 1280px">

    <br />

    <div id="leftSideBar" style="float:left;width:20%; margin:5px">
        @Html.Partial("_QuizCategoriesPartial", Model.QuizCategories)
    </div>
    <div id="content" style="float:left;width:50%;margin:5px">

        @using (Ajax.BeginForm("GetQuizzes", "Quizzes", new AjaxOptions()
        {
            UpdateTargetId = "quizList",
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnFailure = "handleError"
        }))
        {
            @Html.HiddenFor(m=>m.SelectedCategory)
            @Html.TextBox("searchTerm", null, new { @class = "form-control input-lg" , placeholder="search here" })
             <br />
            <div class="form-group">
                @Html.EnumDropDownListFor(m => m.Filter, htmlAttributes: new { @class = "form-control input-sm col-md-offset-5 col-md-2", id = "filterList" })
                <div class="col-md-1">
                    <input type="submit" value="Sort" class="btn btn-primary btn-sm" />
                </div>
            </div>
           
          <br />
        }
        
        <br/>
            @Html.ActionLink("Create New", "Create", "Quizzes", routeValues: null,  htmlAttributes: new { @class = "btn btn-primary btn-sm btn-block" })
     
            <div id="quizList" class="list-group">
                @Html.Partial("_QuizListPartial", Model.Quizzes)

            </div>

        </div>
    <div id="rightSideBar" style="float:left;width:20%;margin:5px">
        @Html.Partial("_TopListPartial", Model.TopQuizzes)
    </div>
</div>

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

<script>
    function handleError(ajaxContext) {
        $("#quizList").empty();
        $("#quizList").append(ajaxContext.responseText);
    }
</script>