@model IEnumerable<ExpressQuiz.Core.Models.Quiz> 

<h3>My quizzes</h3>
@if (Model.Any())
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Questions</th>
                <th>Locked</th>

            </tr>
        </thead>

        <tbody>

            @{

                foreach (var q in Model.ToList())
                {

                    <tr @(q.Locked ? "class=danger" : "")>
                        <td>@Html.ActionLink(@q.Name, "Details", "Quizzes", new {id = q.Id}, htmlAttributes: new {@class = ""})</td>
                        <td>@q.Questions.Count</td>
                        <td>@q.Locked</td>
                    </tr>

                }
            }


        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <br />
        <p><i>You have not created any quizzes yet.</i></p>
        @Html.ActionLink("Create", "Create", "Quizzes", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })

    </div>
   
}
