@model ExpressQuiz.ViewModels.UserQuizzesViewModel




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}


@{
    var quizzes = Model.Quizzes.ToList();
    if (quizzes.Any())
    {

        <table id="quizzesTbl"  class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Questions</th>
                    <th>Votes</th>
                    <th>Views</th>
                    <th>Completed</th>
                    <th>Locked</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>

                @{

        foreach (var q in quizzes)
        {

                <tr @(q.Locked ? "class=danger" : "")>
                    <td>@Html.ActionLink(@q.Name, "Details", "Quizzes", new { id = q.QuizId }, htmlAttributes: new { @class = "" })</td>
                    <td>@q.QuestionCount</td>

                    <td>@q.Votes</td>
                <td>@q.Views</td>
                <td>@q.Completed</td>

                <td>@q.Locked</td>
                <td>
                    <a href="#" data-id="@q.QuizId" class="delete-quiz">Delete</a>


                </td>


            </tr>

        }
                }


            </tbody>
        </table>
    }
    else if (!String.IsNullOrEmpty(User.Identity.Name) && User.Identity.Name == Model.UserId)
    {
        <div class="text-center">
            <br />
            <p><i>You have not created any quizzes yet.</i></p>
            @Html.ActionLink("Create", "Create", "Quizzes", routeValues: null, htmlAttributes: new {@class = "btn btn-primary"})

        </div>

    }
}

<script>
    
    

    function OnPostResultsError(jqXHR, textStatus, errorThrown) {
        ExpressQuiz.Utils.togglePreventLeavingPage(false);
        location.href = "/Home/Error/?message=" + errorThrown;
    }

    $(function() {
    
        $('#quizzesTbl').dataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": false
        });

        $('.delete-quiz').click(function () {
            
            $.ajax({
                url: "/Quizzes/Delete/" + this.getAttribute("data-id"),
                type: 'POST',
                headers: ExpressQuiz.AjaxHelper.createRequestionVerificationTokenHeader(),
                success: function () {
                    location.reload(true);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("could not delete quiz");

                }
            });

            return false;
        });
    });
</script>