@model ExpressQuiz.ViewModels.SocialSettingsViewModel
           

@using (Ajax.BeginForm("EditSocialSettings", "UserProfile", new AjaxOptions()
{
    UpdateTargetId = "content",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Post"


}))
{

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SendEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SendEmail)
                @Html.ValidationMessageFor(model => model.SendEmail, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
    
            @Html.LabelFor(model => model.OnQuizAttempt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.OnQuizAttempt)
                @Html.ValidationMessageFor(model => model.OnQuizAttempt, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-11 col-md-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>


    </div>

}